{% extends 'layout.html' %}

{% block title %}My Page{% endblock %}

{% block content %}
<h2>Add a new Job</h2>
<section class="form-section">
  <h3 class="section-header">Applicator Information</h3>
  <div class="grid">
    <div class="control-group col-1-2">
      <div class="control-label">
        <label for="job-applicator">Applicator</label>
      </div>
      <div class="controls">
        <select name="job-applicator">
          <option value="">-- Pick Applicator --</option>
        </select>
      </div>
    </div>
    <div class="control-group col-1-2">
      <div class="control-label">
        <label for="job-sprayer">Sprayer</label>
      </div>
      <div class="controls">
        <select name="job-sprayer">
          <option value="">-- Pick Sprayer --</option>
        </select>
      </div>
    </div>
    <div class="control-group col-1-2">
      <div class="control-label">
        <label for="job-ga">Gallons/Acre</label>
      </div>
      <div class="controls">
        <input type="text" name="job-ga" />
      </div>
    </div>
    <div class="control-group col-1-2">
      <div class="control-label">
        <label for="job-nozzle">Nozzle</label>
      </div>
      <div class="controls">
        <input type="text" name="job-nozzle" />
      </div>
    </div>
  </div>
</section>
<section class="form-section">
  <h3 class="section-header">Grower Information</h3>
  <div class="grid">
    <div class="control-group col-1-2">
      <div class="control-label">
        <label for="job-grower">Grower</label>
      </div>
      <div class="controls">
        <select name="job-grower">
          <option value="">-- Pick Grower --</option>
        </select>
      </div>
    </div>
    <div class="control-group col-1-2">
      <div class="control-label">
        <label for="job-location">Location</label>
      </div>
      <div class="controls">
        <select name="job-location">
          <option value="">-- Pick Location --</option>
        </select>
      </div>
    </div>
  </div>
</section>
<section class="form-section">
  <h3 class="section-header">Conditions</h3>
  <div class="grid">
    <div class="control-group col-1-1">
      <div class="control-label">
        <label for="job-date">Date</label>
      </div>
      <div class="controls">
        <input type="text" name="job-date" />
      </div>
    </div>
    <div class="control-group col-1-2">
      <div class="control-label">
        <label for="job-starttime">Start Time</label>
      </div>
      <div class="controls">
        <input type="text" name="job-starttime" />
      </div>
    </div>
    <div class="control-group col-1-2">
      <div class="control-label">
        <label for="job-endtime">End Time</label>
      </div>
      <div class="controls">
        <input type="text" name="job-endtime" />
      </div>
    </div>
    <div class="control-group col-1-1">
      <div class="control-label">
        <label for="job-winddir">Wind Direction</label>
      </div>
      <div class="controls">
        <input type="radio" name="job-windir" value="North" />&nbsp;N        
        <input type="radio" name="job-windir" value="Northeast" />&nbsp;NE
        <input type="radio" name="job-windir" value="Northwest" />&nbsp;NW
        <input type="radio" name="job-windir" value="East" />&nbsp;E
        <input type="radio" name="job-windir" value="Southeast" />&nbsp;SE
        <input type="radio" name="job-windir" value="Southwest" />&nbsp;SW
        <input type="radio" name="job-windir" value="West" />&nbsp;W
      </div>
    </div>
    <div class="control-group col-1-1">
      <div class="control-label">
        <label for="job-windspeed">Wind Speed</label>
      </div>
      <div class="controls">
        <input type="radio" name="job-windspeed" value="0" />&nbsp;0        
        <input type="radio" name="job-windspeed" value="1-5" />&nbsp;1-5
        <input type="radio" name="job-windspeed" value="6-10" />&nbsp;6-10
        <input type="radio" name="job-windspeed" value="11-15" />&nbsp;11-15
        <input type="radio" name="job-windspeed" value="16-20" />&nbsp;16-20
        <input type="radio" name="job-windspeed" value="21+" />&nbsp;21+
      </div>
    </div>
    <div class="control-group col-1-1">
      <div class="control-label">
        <label for="job-temperature">Temperature</label>
      </div>
      <div class="controls">
        <input type="radio" name="job-temperature" value="45-50" />&nbsp;45-50
        <input type="radio" name="job-temperature" value="51-55" />&nbsp;51-55
        <input type="radio" name="job-temperature" value="56-60" />&nbsp;56-60
        <input type="radio" name="job-temperature" value="61-65" />&nbsp;61-65
        <input type="radio" name="job-temperature" value="66-70" />&nbsp;66-70
        <input type="radio" name="job-temperature" value="71-75" />&nbsp;71-75
        <input type="radio" name="job-temperature" value="76-80" />&nbsp;76-80
        <input type="radio" name="job-temperature" value="81+" />&nbsp;81+
      </div>
    </div>
    <div class="control-group col-1-1">
      <div class="control-label">
        <label for="job-humidty">Humidity</label>
      </div>
      <div class="controls">
        <input type="radio" name="job-humidity" value="low" />&nbsp;Low
        <input type="radio" name="job-humidity" value="medium" />&nbsp;Medium
        <input type="radio" name="job-humidity" value="high" />&nbsp;High
        <input type="radio" name="job-humidity" value="veryhigh" />&nbsp;Very High
      </div>
    </div>
  </div>
</section>
<section class="form-section">
  <h3 class="section-header">Crop Information</h3>
  <div class="grid">
    <div class="control-group col-1-1">
      <div class="control-label">
        <label for="job-crop">Crop</label>
      </div>
      <div class="controls">
        <input type="radio" name="job-crop" value="corn" />&nbsp;Corn
        <input type="radio" name="job-crop" value="soybeans" />&nbsp;Soybeans
        <input type="radio" name="job-crop" value="wheat" />&nbsp;Wheat
        <input type="radio" name="job-crop" value="sorghum" />&nbsp;Sorghum
        <input type="radio" name="job-crop" value="alfalfa" />&nbsp;Alfalfa
      </div>
    </div>
    <div class="control-group col-1-1">
      <div class="control-label">
        <label for="job-applicationtype">Application Type</label>
      </div>
      <div class="controls">
        <input type="radio" name="job-applicationtype" value="earlypreplant" />&nbsp;Early Preplant
        <input type="radio" name="job-applicationtype" value="ppi" />&nbsp;PPI
        <input type="radio" name="job-applicationtype" value="preemerge" />&nbsp;Pre Emerge
        <input type="radio" name="job-applicationtype" value="postemerge" />&nbsp;Post Emerge
      </div>
    </div>
    <div class="control-group col-1-1">
      <div class="control-label">
        <label for="job-cropheight">Crop Height</label>
      </div>
      <div class="controls">
        <input type="radio" name="job-cropheight" value="na" />&nbsp;N/A
        <input type="radio" name="job-cropheight" value="1-3" />&nbsp;1-3
        <input type="radio" name="job-cropheight" value="4-6" />&nbsp;4-6
        <input type="radio" name="job-cropheight" value="7-9" />&nbsp;7-9
        <input type="radio" name="job-cropheight" value="10-12" />&nbsp;10-12
        <input type="radio" name="job-cropheight" value="13-15" />&nbsp;13-15
      </div>
    </div>
    <div class="control-group col-1-1">
      <div class="control-label">
        <label for="job-pest">Target Pest</label>
      </div>
      <div class="controls">
        <input type="radio" name="job-pest" value="broadleaves" />&nbsp;Broadleaves
        <input type="radio" name="job-pest" value="grasses" />&nbsp;Grasses
        <input type="radio" name="job-pest" value="other" />&nbsp;Other
        <!-- <input type="radio" name="job-pest" value="sorghum" />&nbsp;Sorghum
        <input type="radio" name="job-pest" value="alfalfa" />&nbsp;Alfalfa -->
      </div>
    </div>
  </div>
{% endblock %}